body{
    font-family: Arial;
    margin: 0;
}

nav{
    display: flex;
}

.top{
    background-color: rgb(255, 127, 80);
    color: white;
    width: 50%;
    height: 410px;
}

header, main{
    background-color: rgb(220, 220, 200);
    padding: 20px;
    text-align: center;
}

.bottom{
    background-color: rgb(255, 127, 80);
    color: white;
    width: 50%;
    height: 100px;
}

a{
    color: white;
}